// Main colors
$color-white: #fff;
$color-black: #112f4e;
$color-primary: #002D72;
$color-secondary: #005440;
$color-grey: #818485;
$color-ash: #9bd4cf;
$color-ash-light: #e0f7f6;

// Sizes
$header-height: 60px;

// Hover effect
$hover-fast: 0.15s;
$hover-normal: 0.25s;
$hover-slow: 0.5s;

// Shadows
$shadow-header: 0 4px 15px rgba(0,0,0,.15);
$shadow-content: 0 0 40px rgba(0,0,0,.2);
$shadow-card: 0 3px 10px rgba(0,0,0,.25);

// Radius
$radius-box: 10px;